.playField {
  background-image: url(../images/quidditch.jpg);
  height: 700px;
  width: 600px;
  border: 30px solid white;
  position: absolute;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat; }

.container {
  display: flex;
  justify-content: center;
  height: 800px;
  width: 600px; }

.gameCharacter {
  background-image: url(../images/quidditch.png);
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: absolute;
  background-size: contain;
  top: 50%;
  left: 40%;
  z-index: +1; }

.hoop {
  right: 0;
  bottom: 0; }

.topHoop {
  right: 0;
  bottom: 0; }

.hoop1 {
  background-image: url(../images/hoop1.png);
  height: 600px;
  width: 50px;
  position: absolute;
  background-size: cover; }

.hoop1topPart {
  background-image: url(../images/hoop1topPart.png);
  height: 600px;
  width: 25px;
  position: absolute;
  background-size: cover;
  z-index: +1; }

.hoop2 {
  background-image: url(../images/hoop2.png);
  height: 500px;
  width: 50px;
  position: absolute;
  background-size: cover; }

.hoop2topPart {
  background-image: url(../images/hoop2topPart.png);
  height: 500px;
  width: 25px;
  position: absolute;
  background-size: cover;
  z-index: +1; }

.hoop3 {
  background-image: url(../images/hoop3.png);
  height: 369px;
  width: 50px;
  position: absolute;
  background-size: cover; }

.hoop3topPart {
  background-image: url(../images/hoop3topPart.png);
  height: 369px;
  width: 25px;
  position: absolute;
  background-size: cover;
  z-index: +1; }

.hoop4 {
  background-image: url(../images/hoop4.png);
  height: 250px;
  width: 50px;
  position: absolute;
  background-size: cover; }

.hoop4topPart {
  background-image: url(../images/hoop4topPart.png);
  height: 250px;
  width: 25px;
  position: absolute;
  background-size: cover;
  z-index: +1; }

aside.sidebar {
  display: flex;
  flex-flow: column wrap; }

.themes {
  justify-content: center;
  display: flex;
  flex-flow: column wrap;
  border: 5px solid white;
  width: 200px;
  margin-top: 10px; }

.scoreboard {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 5px solid white;
  height: 50px; }

.points {
  width: 80px;
  margin: auto;
  text-align: center; }

.pointsH2 {
  width: 80px;
  margin: auto;
  text-align: center; }

img {
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 10px auto; }
  img:hover {
    opacity: 0.5; }

div.highScoreName {
  background-color: white;
  width: 80px;
  max-height: 800px; }
div.highScorePoints {
  background-color: white;
  width: 80px;
  max-height: 800px; }

h1 {
  text-align: center; }

h2 {
  text-align: center; }

h3 {
  text-align: center;
  font-size: 25px;
  margin: 15px auto; }
  h3.highScoreTitle {
    width: 200px; }

p {
  text-align: center; }

.welcomeContainer {
  background-color: white;
  width: 600px;
  height: auto;
  margin: 20px auto;
  padding: 20px; }

.loadGamePage {
  margin: 0 auto; }

.loadButtonDiv {
  margin: 0 auto;
  display: flex;
  justify-content: center; }

div.highScore {
  border: 5px solid white;
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

ol.pointList {
  list-style: none;
  padding: 0;
  text-align: center; }
ol.nameList {
  list-style: none;
  padding: 0;
  text-align: center; }

button.resetButton {
  margin: 10px auto 10px;
  width: 180px; }

header {
  display: flex;
  justify-content: center;
  margin: 10px; }

body {
  background-color: #F8F8F8; }

.gamePage {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.logo {
  background-image: url(../images/hoopsLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width: 300px; }

/*# sourceMappingURL=style.css.map */
