@import "variables";
@import "highScores";
@import "sidebar";

.playField{
  background-image: url(../images/quidditch.jpg);
  height: 700px;
  width: 600px;
  border: 30px solid white;
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.container{
  display: flex;
  justify-content: center;
  width: 600px;
  height: 700px;
}

.gameCharacter {
  background-image: url(../images/quidditch.png);
  background-repeat: no-repeat;
  height: 7.142857%;
  width: 8.33333%;
  position: absolute;
  background-size: contain;
  top: 50%;
  left: 40%;
  z-index: +1;
}

.instruction{
    background-color: $background-color;
    color: black;
    border: 5px #white solid;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 50%;
    left: 30%;
    font-family: $font;
    font-size: 15px;
    text-align: center;
    opacity: 0.75;
    z-index: +2;
    padding-top: 20px;
}

.hoop{
  right: 0;
  bottom: 0;
}
.topHoop{
  right: 0;
  bottom: 0;
}
.hoop1{
  background-image: url(../images/hoop1.png);
  height: 85.71428%;
  width: 8.33333%;
  position: absolute;
  background-size: cover;
}
.hoop1topPart{
  background-image: url(../images/hoop1topPart.png);
  height: 85.71428%;
  width: 4.16667%;
  position: absolute;
  background-size: cover;
  z-index: +1;
}

.hoop2{
  background-image: url(../images/hoop2.png);
  height: 72.42857%;
  width: 8.33333%;
  position: absolute;
  background-size: cover;
}
.hoop2topPart{
  background-image: url(../images/hoop2topPart.png);
  height: 72.42857%;
  width: 4.16667%;
  position: absolute;
  background-size: cover;
  z-index: +1;
}

.hoop3{
  background-image: url(../images/hoop3.png);
  height: 52.71429%;
  width: 8.33333%;
  position: absolute;
  background-size: cover;
}
.hoop3topPart{
  background-image: url(../images/hoop3topPart.png);
  height: 52.71429%;
  width: 4.16667%;
  position: absolute;
  background-size: cover;
  z-index: +1;
}
.hoop4{
  background-image: url(../images/hoop4.png);
  height: 35.71429%;
  width: 8.33333%;
  position: absolute;
  background-size: cover;
}
.hoop4topPart{
  background-image: url(../images/hoop4topPart.png);
  height: 35.71429%;
  width: 4.16667%;
  position: absolute;
  background-size: cover;
  z-index: +1;
}

@media (max-width: 768px){
  .playField{
    height: 300px;
    width: 257.14285px;
    border: 15px solid white;
  }
  .instruction{
      height: 25px;
      width: 125px;
      font-size: 10px;
      padding-top: 10px;
      top: 40%;
      left: 20%;
    }
    .container{
      height: 300px;
      width: 257.14285px;
    }
}

@media (max-width: 1024px){
  .container {
    width: 100%;
  }
}
