div.highScore{
  border: 5px solid white;
  width: 14%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

ol{
  &.pointList{
    list-style: none;
    padding: 0;
    text-align: center;
  }
  &.nameList{
    list-style: none;
    padding: 0;
    text-align: center;
  }
}

div{
  &.highScoreName{
    background-color: white;
    width: 80px;
    max-height: 800px;
  }
  &.highScorePoints{
    background-color: white;
    width: 80px;
    max-height: 800px;
  }
}

button{
  &.resetButton{
    margin: 10px auto 10px;
    width: 180px;
  }
}

.getPlayerName{
  background-color: $background-color;
  border: 5px solid white;
  height: 100px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: +3;
}

.submit{
  font-family: $font;
}

@media (max-width: 1024px){
  div.highScore{
    display: none;
    // width: 150px;
  }
}

@media (max-width: 768px){
  .getPlayerName{
    height: 100px;
    width: 150px;
  }
  .submit{
    font-size: 8px;
  }
  .class{
    font-size: 8px;
  }
}
