aside.sidebar{
  display: flex;
  flex-flow: column wrap;
}

div.highScore{
  border: 5px solid white;
  width: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.themes{
  justify-content: center;
  display: flex;
  flex-flow: column wrap;
  border: 5px solid white;
  width: 200px;
  margin-top: 10px;
}

.scoreboard{
  border: 5px solid white;
  width: 200px;
}

.points{
  display: inline-block;
  width: 70px;
  text-align: center;
}

img{
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 10px auto;
  &:hover{
    opacity: 0.5;
  }
  }

div{
  &.highScoreName{
    background-color: white;
    width: 80px;
    height: 100px;
  }
  &.highScorePoints{
    background-color: white;
    width: 80px;
    height: 100px;
  }
}

ol{
  &.pointList{
    list-style: none;
    padding: 0;
    text-align: center;
  }
  &.nameList{
    list-style: none;
    padding: 0;
    text-align: center;
  }
}
