h1{
text-align: center;
font-family: 'Poppins', sans-serif;
}

h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

h3{
  text-align: center;
  font-size: 25px;
  margin: 15px auto;
  &.highScoreTitle{
    width: 200px;
  }
  font-family: 'Poppins', sans-serif;
}

p{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

li{
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
}
