.welcomeContainer{
  background-color: white;
  width: 600px;
  height: auto;
  margin: 20px auto;
  padding: 20px;
}

.loadGamePage{
  margin: 0 auto;
}


.loadButtonDiv{
  margin: 0 auto;
  display: flex;
  justify-content: center; 
}
