@import "_gameObjects";

main{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

}

aside{
  position: absolute;
  margin: 20px 40px;
  display: flex;
  flex-flow: column wrap;
  width: 100px;
}


.scoreboard{
  border: 2px solid black;
  width: 145px;
}

.points{
  display: inline-block;
  width: 70px;
  text-align: center;
}

h2{
  width: 70px;
  text-align: center;
  display: inline-block;
}

h3{

}
img{
  width: 100px;
  height: 100px;
  border: 2px solid black; 
}
