@import "_gameObjects";
@import "_sidebar";
@import "_typography";
@import "_welcomepage"; 

header{
  display: flex;
  justify-content: center;
  margin: 10px;
}

body{
  background-color: #F8F8F8;
}

.gamePage{
  display: flex;
  justify-content: space-around;
}

.logo{
  background-image: url(../images/hoopsLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width:  300px;
}
