@import "_gameObjects";

body{
  background-color: 	#F8F8F8;
}
.gamePage{
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
header{
  display: flex;
  justify-content: center;
  margin: 10px;
}

aside{
  position: absolute;
  margin: 20px 40px;
  display: flex;
  flex-flow: column wrap;
  width: 150px;
}

.themes{
  justify-content: center;
  display: flex;
  flex-flow: column wrap;
}

.scoreboard{
  border: 5px solid white;
  width: 145px;
}

.points{
  display: inline-block;
  width: 70px;
  text-align: center;
}

.logo{
  background-image: url(../images/hoopsLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
  width:  300px;
}

h2{
  width: 70px;
  text-align: center;
  display: inline-block;
}

h3{
  text-align: center;
}
img{
  width: 100px;
  height: 100px;
  background-color: white;
  margin: 10px auto 0;
  &:hover{
    opacity: 0.5;
  }
  }
